body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input, textarea {
    width: 300px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
}